.instructors-container {
    min-height: 50vh;
    background-color: #f7f7f5;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructors-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instructors-box p{
    padding: 3rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}